<template>
  <q-layout view="hHh lpR fFf">

    <q-header
      reveal
      elevated
      class="bg-primary text-white header"
    >
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar @click="left = !left">
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>
        </q-toolbar-title>
        <!-- <q-space /> -->
        <div class="toolbar-input-container row no-wrap">
          <q-input
            dense
            outlined
            squared
            v-model="search"
            placeholder="Search"
            class="bg-white col"
          />
        </div>
        <q-space />
        <q-avatar @click="right = !right">
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
        </q-avatar>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="left"
      side="left"
      overlay
      behavior="mobile"
      elevated
    >
      <div
        class="q-pa-md"
        style="max-width: 350px"
      >
        <q-list>
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label header>Explore</q-item-label>
            </q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>Sport</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>Food&drinks</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>Entertainment</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>Viennese experience</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>Meetup</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>About</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-drawer>

    <q-drawer
      v-model="right"
      side="right"
      overlay
      behavior="mobile"
      elevated
    >
      <q-list>
        <q-item
          clickable
          v-ripple
        >
          <q-item-section
            avatar
            side
          >
            <q-icon name="inbox" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profile</q-item-label>
            <q-item-label caption>{{this.client.firstName}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
        >
          <q-item-section>
            <q-item-label>Bonus points</q-item-label>
            <q-item-label caption>750</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
        >
          <q-item-section>
            <q-item-label>Subscription</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
        >
          <q-item-section>
            <q-item-label>Newsfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
        >
          <q-item-section>
            <q-item-label>Settings</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          @click="logout"
        >
          <q-item-section>
            <q-item-label>Logout</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import axios from 'axios';
export default {
  name: 'MainLayout',
  data () {
    return {
      left: false,
      right: false,
      search: '',
      client: {},
      isAuth: false
    }
  },
  methods: {
    logout () {
      axios.get('/api/auth/logout')
        .then((res) => {
          this.$q.notify({
            color: 'positive',
            position: 'top',
            message: res.data.message,
            icon: 'report_problem'
          })
          this.$router.push('/');
        })
        .catch((err) =>
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: err.response.data,
            icon: 'report_problem'
          }));
    },
    getClient: function () {
      axios.get('/api/auth/userData').then((res) => {
        this.client = res.data;
        this.isAuth = true;
      }).catch(() => this.isAuth = true)
    }
  },
  mounted () {
    this.getClient();
  }
}
</script>
<style scoped>
.toolbar-input-container {
  min-width: 100px;
  width: 35%;
}
</style>