<template>
  <div
    class="q-pa-md"
    style="max-width: 400px; margin:auto;"
  >
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
      <div>
        <h5>Login</h5>
      </div>
      <q-input
        filled
        v-model="email"
        label="Email"
        type="email"
        :rules="[
          val => val && val.match('[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?') || 'Please input a valid email'
        ]"
      />
      <q-input
        v-model="password"
        label="Password"
        filled
        :type="isPwd ? 'password' : 'text'"
        :rules="[
        val => val && val.match('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,20}$') || 'The password must contain at least a capital letter, a number and be between 6 and 20 characters long'
        ]"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <div>
        <q-item
          clickable
          to="/register"
        >
          <p>Register?</p>
        </q-item>
        <q-item
          clickable
          @click="prompt=true"
        >
          <p>Forgot password?</p>
        </q-item>
        <q-dialog
          v-model="prompt"
          persistent
        >
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Your email address</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-input
                dense
                v-model="emailRecover"
                autofocus
                type="email"
                @keyup.enter="sendEmail"
                :rules="[
                  val => val && val.match('[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?') || 'Please input a valid email'
                ]"
              />
            </q-card-section>

            <q-card-actions
              align="right"
              class="text-primary"
            >
              <q-btn
                flat
                label="Cancel"
                v-close-popup
              />
              <q-btn
                flat
                label="Ok"
                @click="sendEmail"
                v-close-popup
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
      <q-item
        clickable
        @click="facebookLogin"
      >
        <p>Facebook login</p>
      </q-item>
      <q-item
        clickable
        @click="gmailLogin"
      >
        <p>Gmail login</p>
      </q-item>
      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="primary"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      isPwd: true,
      prompt: false,
      emailRecover: ''
    }
  },
  methods: {
    onSubmit () {
      axios.post('/api/auth/login', {
        email: this.email,
        password: this.password
      }).then((res) => {
        this.$q.notify({
          color: 'positive',
          position: 'top',
          message: res.data.message,
          icon: 'report_problem'
        })
        this.$router.push('/home');
      })
        .catch((err) => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: err.response.data,
            icon: 'report_problem'
          })
        })

    },
    sendEmail () {
      console.log("send email");
      this.prompt = false;
      this.emailRecover = '';
    },
    facebookLogin () {
      axios.get('/api/auth/login');
    },
    gmailLogin () {

    }
  }
}
</script>
<style scoped>
</style>