<template>
  <div
    class="q-pa-md"
    style="max-width: 400px;margin:auto;"
  >
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
      <div class="title">
        <h5>Register</h5>
      </div>
      <q-input
        filled
        refs
        v-model="firstName"
        label="First name"
        :rules="[val => val && val.match('^[A-Z]*[a-zA-Z-\' ]+$') || 'Please input a valid first name']"
      />

      <q-input
        filled
        v-model="lastName"
        label="Last Name"
        :rules="[
          val => val && val.match('^[A-Z]*[a-zA-Z-\' ]+$') || 'Please input a valid last name'
        ]"
      />
      <q-input
        filled
        v-model="email"
        label="Email"
        type="email"
        :rules="[
          val => val && val.match('[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?') || 'Please input a valid email'
        ]"
      />
      <q-input
        v-model="password"
        label="Password"
        filled
        :type="isPwd ? 'password' : 'text'"
        :rules="[
        val => val && val.match('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,20}$') || 'The password must contain at least a capital letter, a number and be between 6 and 20 characters long'
        ]"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-item
        clickable
        @click="tosPopup = true"
      >
        <p>Read licenses and terms</p>
      </q-item>
      <q-toggle
        v-model="accept"
        label="Accept terms and conditions"
      />
      <q-dialog v-model="tosPopup">
        <q-card>
          <q-card-section>
            <div class="text-h6">Terms of Agreement</div>
          </q-card-section>

          <q-separator />

          <q-card-section
            style="max-height: 50vh"
            class="scroll"
          >
            <p
              v-for="n in 15"
              :key="n"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</p>
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
            <q-btn
              flat
              label="Ok"
              color="primary"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Back"
          color="primary"
          flat
          class="q-ml-sm"
          @click.stop="onBack"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Register',
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      accept: false,
      isPwd: true,
      tosPopup: false
    }
  },
  methods: {
    onSubmit () {
      if (this.accept !== true) {

        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      }
      else {
        axios.post('/api/user/register', {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password
        }).then((res) => {
          this.$q.notify({
            color: 'positive',
            position: 'top',
            message: res.data.message,
            icon: 'report_problem'
          })
          this.$router.push('/');
        })
          .catch((err) => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: err.response.data,
              icon: 'report_problem'
            })
          })
      }
    },

    onBack () {
      this.$router.push('/');
    }
  }
}
</script>
<style scoped>
</style>